These are the packages that need to be imported / installed
to install you need to SSH into the server pip install [package] --user
packages I installed are pandas and pymysql

The job_id I picked was Paris 2015, Because being in the military terrorist stuff interests me.  Though with that unfortunately I immediately regreted it because I don't know French.

In [1]:
import pymysql
import pandas as pd
from pandas import DataFrame
from collections import Counter
import sys

Database version : 5.5.47-MariaDB

In [4]:
try:
    conn = pymysql.connect(host='128.206.116.195', port=3306, user='tg4_ro', passwd='?3stEt7!3hUbRa-R', db='tw4_db')

    cur = con.cursor()
    #get all tweets
    #cur.execute("Select * from tweet where job_id = 4259")
    #count how many tweers
    #cur.execute("Select COUNT(*) from tweet where job_id = 4259")
    #beginning of tweets lifecycle
    #cur.execute("Select * From tweet Where job_id = 4259 And created_at = (Select min(created_at) From tweet where job_id = 4259) Limit 1")
    #end of lifecycle
    #cur.execute("Select * From tweet Where job_id = 4259 And created_at = (Select max(created_at) From tweet where job_id = 4259) Limit 1")
    #df = pd.read_sql("Select * from tweet where job_id = 4259", conn)
    df = pd.read_sql_query("Select * from tweet where job_id = 4259", conn, parse_dates=['created_at'])
    print(df)
    #ver = cur.fetchall()
    #print(ver)
    
    #for row in ver:
        #created_at = row[0]
        #print "%s, %s" % (row["created_at"], row["from_user"], row["from_user_followers"], row["text"])
        #print "Number of Rows Returned:, %d" % ver.rowcount
        #print(created_at.theYear)
        #print(created_at.theYear, theMonth, row.theWeek, row.theDay, row.counter)

except mdb.Error as e:

    print ("Error %d: %s" % (e.args[0],e.args[1]))
    sys.exit(1)

finally:

    if con:
        con.close()
    if conn:
        conn.close()

              tweet_id_str  job_id          created_at  \
0       665309688381091841    4259 2015-11-13 23:26:05
1       665309688385306624    4259 2015-11-13 23:26:05
2       665309688423014400    4259 2015-11-13 23:26:05
3       665309688486076417    4259 2015-11-13 23:26:05
4       665309688523689984    4259 2015-11-13 23:26:05
5       665309688657874945    4259 2015-11-13 23:26:05
6       665309688679014400    4259 2015-11-13 23:26:05
7       665309688691486721    4259 2015-11-13 23:26:05
8       665309688704143360    4259 2015-11-13 23:26:05
9       665309688842444800    4259 2015-11-13 23:26:05
10      665309688897081344    4259 2015-11-13 23:26:05
11      665309688905363456    4259 2015-11-13 23:26:05
12      665309688976666624    4259 2015-11-13 23:26:05
13      665309689018617857    4259 2015-11-13 23:26:05
14      665309689102606336    4259 2015-11-13 23:26:05
15      665309689119404032    4259 2015-11-13 23:26:05
16      665309689190584321    4259 2015-11-13 23:26:05
17      665309689198972929    4259 2015-11-13 23:26:05
18      665309689211715584    4259 2015-11-13 23:26:05
19      665309689241030656    4259 2015-11-13 23:26:05
20      665309689274572800    4259 2015-11-13 23:26:05
21      665309689391898624    4259 2015-11-13 23:26:05
22      665309689438162944    4259 2015-11-13 23:26:05
23      665309689551306758    4259 2015-11-13 23:26:05
24      665309689673031681    4259 2015-11-13 23:26:05
25      665309689719066625    4259 2015-11-13 23:26:05
26      665309689727479808    4259 2015-11-13 23:26:05
27      665309689748529152    4259 2015-11-13 23:26:05
28      665309689777774592    4259 2015-11-13 23:26:05
29      665309689861771264    4259 2015-11-13 23:26:05
...                    ...     ...                 ...
354339  721030560869703681    4259 2016-04-15 17:40:56
354340  721104896439775232    4259 2016-04-15 22:36:19
354341  721148760462635009    4259 2016-04-16 01:30:37
354342  721258493886492673    4259 2016-04-16 08:46:39
354343  721287777816547328    4259 2016-04-16 10:43:01
354344  721324894575804416    4259 2016-04-16 13:10:31
354345  721333079198076928    4259 2016-04-16 13:43:02
354346  721403390618689536    4259 2016-04-16 18:22:26
354347  721412767207579648    4259 2016-04-16 18:59:41
354348  721435641901420544    4259 2016-04-16 20:30:35
354349  721436317004013568    4259 2016-04-16 20:33:16
354350  721479159592198146    4259 2016-04-16 23:23:30
354351  721629438811770880    4259 2016-04-17 09:20:40
354352  721630719106154496    4259 2016-04-17 09:25:45
354353  721631282535493633    4259 2016-04-17 09:27:59
354354  722173408461631488    4259 2016-04-18 21:22:12
354355  722286653012865024    4259 2016-04-19 04:52:12
354356  722321330167750656    4259 2016-04-19 07:09:59
354357  722432982271856640    4259 2016-04-19 14:33:39
354358  722504159623307264    4259 2016-04-19 19:16:29
354359  722510864704778240    4259 2016-04-19 19:43:08
354360  722526959268470784    4259 2016-04-19 20:47:05
354361  722531711301656577    4259 2016-04-19 21:05:58
354362  722704770939674625    4259 2016-04-20 08:33:39
354363  722706102786342913    4259 2016-04-20 08:38:56
354364  722738984678502400    4259 2016-04-20 10:49:36
354365  722757909751472128    4259 2016-04-20 12:04:48
354366  722787701787766785    4259 2016-04-20 14:03:11
354367  722832784629346304    4259 2016-04-20 17:02:20
354368  723237327871594496    4259 2016-04-21 19:49:50

                                                     text           from_user  \
0       RT @Foro_MDM: Si estás en París y necesitas ir...           233220123
1       RT @marieclaireuk: Thinking of Paris right now...           304536126
2       BREAKING NEWS: #ParisAttacks #PrayForParis #Po...            15882459
3       RT @RomainAMBRO: RT - Si besoin... Un ami à mo...          1679309822
4       RT @frenchwords: If youre in Paris and trying...            66557193
5       Paris\n#fusillade\n#PorteOuverte\n#PrayForJapa...          3254468141
6       RT @Conflicts: If you are stranded in Paris to...            62023464
7       RT @joashraul: In Paris right now, and need a ...           129208426
8       RT @Camille_Lhost: Une porte ouverte près de l...           155628094
9       RT @Conflicts: If you are stranded in Paris to...           144021886
10      RT @MarshaCollier: For those using the #PorteO...          1400411858
11      RT @elconfidencial: Con el hashtag #porteouver...           595728565
12      RT @harryphotoss: If you're in Paris and you n...          1613068423
13      RT @yablaki: Cherche #PorteOuverte pour 2 amis...            17203861
14      RT @_dannis_: Anyone in Paris stranded or look...           895303184
15      RT @shannalynnSF: I am in Republique and happy...          2560130426
16      RT @icyterrell: If you're in Paris and need sh...           218351336
17      RT @MisterVonline: J'avoue les adresses c'est ...           523339587
18      RT @kaylakristine: #porteouverte pas loin de L...          2810599354
19      RT @el_pais: URGENTE: Los ciudadanos se movili...          1613580751
20      RT @RohanSinghKalsi: Anybody who's stranded in...           456594827
21      RT @ajplus: Hashtag #porteouverte (open door) ...          1468150477
22      RT @musicnews_shade: For anyone in Paris, or w...           570980207
23      ...lo que sobresalga por encima de todo sea la...           338367316
24      RT @lookingforlewys: for those using #porteouv...          3029154698
25      RT @Hipertextual: Si estás en París y necesita...            44113761
26      RT @badskill666: Help, I'm an American and I n...           626843870
27      RT @EstherVaqueroH: Solidaridad entre el caos ...          1395161762
28      RT @xMalumxLashtonx: if your in paris use #Por...          1544281134
29      RT @Piou___: #PorteOuverte 12 eme proche de la...          2557104671
...                                                   ...                 ...
354339  RT @CnsmdParis: Les Journées de la Danse, c'es...          1350969636
354340  RT @Banlieue_Nord: Mon cousin retrouvé mort #B...  705581966163374080
354341  RT @becky_roberts22: Quiconque cherche de l'ai...          4794852223
354342  RT @baborlelefan: #PorteOuverte à Belleville s...          2653237263
354343  Merci @RosairedeFrance! Priez pour nous #porte...          2900851549
354344  It's on people, we're just waiting for u!! #Op...          4107029333
354345  RT @CatRescuebxl: It's on people, we're just w...          1257389376
354346  ????????#PorteOuverte?????????????????????????...          4843550439
354347  RT @CatRescuebxl: It's on people, we're just w...          4056020842
354348  shana.t.makeupartist  #lacademie #porteouverte...           405377331
354349  #team #lacademie #porteouverte https://t.co/sA...           405377331
354350  Le #porteouverte du 13 janvier il fonctionne t...           913201340
354351  "Dieu exauce!" #JeanPeterschmitt #POlive #POme...          2759181449
354352  RT @bongtao: ?????????? tag #PorteOuverte ????...          3449414000
354353  "Laissez un heritage!" #SamuelPeterschmitt #po...          2759181449
354354  remarque j'aurais pu avoir un logement gratos ...           362047327
354355  RT @SophiaBush: If you're in Paris &amp; need ...           345429407
354356              #porteouverte https://t.co/GYFJjbOQE5            88997694
354357  #porteouverte in #geneva. Architectural contra...             8157952
354358  RT @sockdem: Check #PorteOuverte #OpenHouse if...          1655879876
354359  RT @FiftyWorldWide: Anyone who's outside &amp;...          2509812396
354360  Suite à l'attentat perpétré contre Gillez Verd...           119851176
354361  #TPMP est resté en tendance toute la soirée. À...            17134321
354362  On autorise ça et après c'est quoi ? Une playl...          1257535368
354363  RT @SJ_Mage: On autorise ça et après c'est quo...           405842183
354364                     #Hashtagtivism? What say ye:\n           204914053
354365       RT @conoraon: #Hashtagtivism? What say ye:\n          3233199022
354366       RT @conoraon: #Hashtagtivism? What say ye:\n          3233199022
354367  @FrancoisILLOUZ @ChCEVAER @LinkedIn belle réfé...           462423344
354368  les parisiens vs pouvez refaire #porteouverte ...          2559303522

          from_user_id_str   from_user_name   from_user_fullname  \
0                233220123         nperezir         Nekane Perez
1                304536126     adriancandyy              Adrián.
2                 15882459      mike_online     Mike Montealegre
3               1679309822     lulujeanne27    Ludivine Finot J
4                 66557193   siobhanmarie12        Siobhan Foley
5               3254468141    medvalencia99                amine
6                 62023464  JohnLeoAnderson        John Anderson
7                129208426            arvxd    Design Immacolata
8                155628094       marieformj           marieformj
9                144021886     Sambelina172         Sam Boniface
10              1400411858          Whomp28  Alexandre [Ri'saad]
11               595728565  AlejanCaballero  Alejandro Caballero
12              1613068423        Jeanne_Gt       Music shines ?
13                17203861     RomainBurrel        Romain Burrel
14               895303184        Radzville           Street Kid
15              2560130426      maknaeszayn        jeon jordanna
16               218351336          Dlauhon                 Drew
17               523339587      valdeziness                Élisa
18              2810599354          smilood                calum
19              1613580751   paulatrogliero       Paulatrogliero
20               456594827       guitorists                niamh
21              1468150477       lizard1137       Elizabeth Long
22               570980207       CockDekker          Cock Dekker
23               338367316        davidizki      David Izquierdo
24              3029154698      wafflstyles               clauds
25                44113761   MiguelFrigenti      Miguel Frigenti
26               626843870    StephOConnor2       Steph O Connor
27              1395161762    entretiniebla         San Lorenzo
28              1544281134       jaisanchor    Natalie  Purpose
29              2557104671           csaa04               s23231
...                    ...              ...                  ...
354339          1350969636          coulhon      Thierry Coulhon
354340  705581966163374080       bilouscrew                   ??
354341          4794852223  lakoroleva12322         elina.palomo
354342          2653237263    AllKeepInside                sleep
354343          2900851549    FriendsOLPNYC   Friends of OLP NYC
354344          4107029333     CatRescuebxl         CatRescuebxl
354345          1257389376        serfindra             Celine S
354346          4843550439        batteur24          ???@???????
354347          4056020842  ChatIntelligent     Chat intelligent
354348           405377331    BenaliSabrina           L'académie
354349           405377331    BenaliSabrina           L'académie
354350           913201340        Dani93140         Dani le noir
354351          2759181449      DavidGantou  David Gantou-Ingold
354352          3449414000      llWangNESll                ????.
354353          2759181449      DavidGantou  David Gantou-Ingold
354354           362047327       Jackypetit                  pp8
354355           345429407        mcsteve_e                    ?
354356            88997694       paucazorla           Paucazorla
354357             8157952         iSuisses      Marc Bertolazzi
354358          1655879876     nexuxofefymu      Lawinia Danbury
354359          2509812396  missbie44488126           missbieber
354360           119851176          licha74    La France vaincra
354361            17134321        mpo_rocks                Marie
354362          1257535368          SJ_Mage  Social Justice Mage
354363           405842183         GabzydeR   Venus in fake furs
354364           204914053         conoraon        Conor O'Neill
354365          3233199022       youthup_eu              youthUP
354366          3233199022       youthup_eu              youthUP
354367           462423344       FabPigalle              Pigalle
354368          2559303522           retxrn             cheshire

        from_user_followers  from_user_following       ...        \
0                      1208                 1254       ...
1                      1260                  438       ...
2                       717                 1997       ...
3                        86                  279       ...
4                       324                  531       ...
5                        44                   74       ...
6                       126                  172       ...
7                      1321                 1997       ...
8                        70                  312       ...
9                       289                  479       ...
10                       83                  257       ...
11                      888                  672       ...
12                      403                  543       ...
13                     6972                 1001       ...
14                     1060                  502       ...
15                     5109                  142       ...
16                      780                  845       ...
17                     1195                 1121       ...
18                      196                  322       ...
19                       50                  249       ...
20                     2985                  223       ...
21                      184                  466       ...
22                      178                  457       ...
23                     1579                  335       ...
24                      159                  204       ...
25                    56471                 1596       ...
26                     1416                 1041       ...
27                      882                 1115       ...
28                     1945                 1010       ...
29                       91                  408       ...
...                     ...                  ...       ...
354339                  537                  620       ...
354340                  489                   28       ...
354341                   94                 2239       ...
354342                  556                 1257       ...
354343                  461                  901       ...
354344                  136                  174       ...
354345                  183                  485       ...
354346                  292                  374       ...
354347                  132                  199       ...
354348                   73                  209       ...
354349                   73                  209       ...
354350                  220                  934       ...
354351                  788                 4045       ...
354352                  190                  783       ...
354353                  788                 4045       ...
354354                  758                  394       ...
354355                  339                  281       ...
354356                10503                  438       ...
354357                  521                  517       ...
354358                    3                  159       ...
354359                  999                 1971       ...
354360                 1848                 2224       ...
354361                  493                  451       ...
354362                 2087                  480       ...
354363                  200                  628       ...
354364                  961                  795       ...
354365                 2800                 2435       ...
354366                 2799                 2435       ...
354367                  846                  550       ...
354368                  325                  123       ...

                from_user_timezone     to_user to_user_id_str    to_user_name  \
0                           Madrid        None           None            None
1                           Athens        None           None            None
2                           Taipei        None           None            None
3                             None        None           None            None
4                           London        None           None            None
5       Pacific Time (US & Canada)        None           None            None
6                           London        None           None            None
7                            Seoul        None           None            None
8                            Paris        None           None            None
9                           London        None           None            None
10                            None        None           None            None
11                          Hawaii        None           None            None
12                           Paris        None           None            None
13                           Paris        None           None            None
14                         Arizona        None           None            None
15      Eastern Time (US & Canada)        None           None            None
16      Eastern Time (US & Canada)        None           None            None
17                           Paris        None           None            None
18                            None        None           None            None
19                            None        None           None            None
20                          Dublin        None           None            None
21      Central Time (US & Canada)        None           None            None
22                            None        None           None            None
23                       Amsterdam   338367316      338367316       davidizki
24                          Dublin        None           None            None
25                          Madrid        None           None            None
26                            None        None           None            None
27                            None        None           None            None
28                          Berlin        None           None            None
29                          Athens        None           None            None
...                            ...         ...            ...             ...
354339                       Paris        None           None            None
354340                        None        None           None            None
354341                        None        None           None            None
354342                       Paris        None           None            None
354343                        None        None           None            None
354344  Pacific Time (US & Canada)        None           None            None
354345                    Brussels        None           None            None
354346                       Tokyo        None           None            None
354347                        None        None           None            None
354348                    Brussels        None           None            None
354349                    Brussels        None           None            None
354350                        None        None           None            None
354351                        None        None           None            None
354352                        None        None           None            None
354353                        None        None           None            None
354354                   Greenland   362047327      362047327      Jackypetit
354355  Eastern Time (US & Canada)        None           None            None
354356                      Madrid        None           None            None
354357                        Bern        None           None            None

ProgrammingError: closing a closed connection

How many tweets are in the collection? 35369

In [6]:
len(df.index)

354369

When do they start? 2015-11-13 23:26:05
When do they end?

In [18]:
#sort based on date
df.sort_values('created_at')
#start
print("They start at ", df.head(1).created_at)
#end
print("They end at ", df.tail(1).created_at)

They start at  0   2015-11-13 23:26:05
Name: created_at, dtype: datetime64[ns]
They end at  354368   2016-04-21 19:49:50
Name: created_at, dtype: datetime64[ns]

In [19]:
#for the full first tweet row
df.head(1)

,tweet_id_str,job_id,created_at,text,from_user,from_user_id_str,from_user_name,from_user_fullname,from_user_followers,from_user_following,...,from_user_timezone,to_user,to_user_id_str,to_user_name,source,location_geo,location_geo_0,location_geo_1,iso_language,analysis_state
0,665309688381091841,4259,2015-11-13 23:26:05,RT @Foro_MDM: Si estás en París y necesitas ir...,233220123,233220123,nperezir,Nekane Perez,1208,1254,...,Madrid,None,None,None,"<a href=""http://twitter.com/download/android"" ...",None,NaN,NaN,es,0

In [21]:
#for the full last tweet row
df.tail(1)

,tweet_id_str,job_id,created_at,text,from_user,from_user_id_str,from_user_name,from_user_fullname,from_user_followers,from_user_following,...,from_user_timezone,to_user,to_user_id_str,to_user_name,source,location_geo,location_geo_0,location_geo_1,iso_language,analysis_state
354368,723237327871594496,4259,2016-04-21 19:49:50,les parisiens vs pouvez refaire #porteouverte ...,2559303522,2559303522,retxrn,cheshire,325,123,...,Paris,None,None,None,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",None,NaN,NaN,fr,0

This counters the number of most common words.

In [ ]:
words = Counter()
for index, row in df.iterrows():
    words.update(row['text'].split())
words.most_common()

In [55]:
dict(words)
hashdict = dict()
for key,value in words.items():
    if key.startswith('#'):
            hashdict.update({key:value})
print(hashdict)

{'#Agriculture': 6, '#BreastfeedingIsBipartisan': 1, '#KnowAze': 1, '#Gitmo': 3, '#LionPride': 1, '#SrTrip2015': 1, '#Azerbaijan,': 2, '#budget.': 4, '#AlexMooney': 1, '#EESWDC15': 1, '#Alabama': 1, '#KnowAzerbaijan': 1, '#2016?': 1, '#GreenParty': 1, '#budget': 2}

In [51]:
dict(words)
for key,value in words.items():
    if key.startswith('@'):
            print(key,value)

@balduin63 1
@mr_peteaguilar 4
@robertaderholt, 1
@MichelleObama 1
@algreenparty 1
@USDA_NRCS 4
@InequalityIsBad 1
@camboviet: 2
@HouseAppropsGOP: 4
@HouseFloor. 1
@RobertAderholt 6
@robertaderholt 12
@MoBrooksCMUNC 1
@BradleyByrne 1
@camboviet 1
@ralphabraham 4
@RepByrne, 1
@mjgranger1 4
@JoeBiden. 1
@MarkWarnerVA 1
@fi264: 1
@jeffsessions 1
@MoBrooksCMUNC, 1
@RepGaryPalmer 1
@usdaRD. 2
@BarackObama 1
@WhiteHouse 1