#These are the packages that need to be imported / installed
to install you need to SSH into the server pip install [package] --user
packages I installed are pandas and pymysql

The job_id I picked was Paris 2015, Because being in the military terrorist stuff interests me.  Though with that unfortunately I immediately regreted it because I don't know French.

In [34]:
import pymysql
import pandas as pd
from pandas import DataFrame
from collections import Counter
from collections import OrderedDict
import sys

In [90]:
try:
    conn = pymysql.connect(host='128.206.116.195', port=3306, user='tg4_ro', passwd='?3stEt7!3hUbRa-R', db='tw4_db')
    df = pd.read_sql_query("Select * from tweet where job_id = 4259", conn, parse_dates=['created_at'])
except mdb.Error as e:

    print ("Error %d: %s" % (e.args[0],e.args[1]))
    sys.exit(1)

finally:
    if conn:
        conn.close()

#How many tweets are in the collection? 354369

In [91]:
len(df.index)

354369

#When do they start? 2015-11-13 23:26:05
#When do they end? 2016-04-21 19:49:50

In [25]:
#sort based on date
df.sort_values('created_at')
#start
print("They start at ", df.head(1).created_at)
#end
print("They end at ", df.tail(1).created_at)

They start at  0   2015-11-13 23:26:05
Name: created_at, dtype: datetime64[ns]
They end at  354368   2016-04-21 19:49:50
Name: created_at, dtype: datetime64[ns]

In [26]:
#for the full first tweet row
df.head(1)

,tweet_id_str,job_id,created_at,text,from_user,from_user_id_str,from_user_name,from_user_fullname,from_user_followers,from_user_following,...,from_user_timezone,to_user,to_user_id_str,to_user_name,source,location_geo,location_geo_0,location_geo_1,iso_language,analysis_state
0,665309688381091841,4259,2015-11-13 23:26:05,RT @Foro_MDM: Si estás en París y necesitas ir...,233220123,233220123,nperezir,Nekane Perez,1208,1254,...,Madrid,None,None,None,"<a href=""http://twitter.com/download/android"" ...",None,NaN,NaN,es,0

In [22]:
#for the full last tweet row
df.tail(1)

,tweet_id_str,job_id,created_at,text,from_user,from_user_id_str,from_user_name,from_user_fullname,from_user_followers,from_user_following,...,from_user_timezone,to_user,to_user_id_str,to_user_name,source,location_geo,location_geo_0,location_geo_1,iso_language,analysis_state
354368,723237327871594496,4259,2016-04-21 19:49:50,les parisiens vs pouvez refaire #porteouverte ...,2559303522,2559303522,retxrn,cheshire,325,123,...,Paris,None,None,None,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",None,NaN,NaN,fr,0

#This counters the number of most common words. 
RT(retweet), Paris, #Paris, #PorteOuverte are really the key nouns that are shown within the top 20

In [56]:
words = Counter()
for index, row in df.iterrows():
    words.update(row['text'].split())
words.most_common()[:20]

[('RT', 328917),
 ('#PorteOuverte', 252977),
 ('in', 78489),
 ('to', 75533),
 ('de', 67884),
 ('the', 60200),
 ('Paris', 58262),
 ('a', 52417),
 ('and', 46514),
 ('#Paris', 46100),
 ('for', 43820),
 ('are', 36737),
 ('of', 35137),
 ('en', 34016),
 ('hashtag', 33401),
 ('#?????', 32315),
 ('la', 31290),
 ('le', 30370),
 ('à', 26872),
 ('!', 26766)]

#Below are the top 20 most common hashtags(#) that show up in the tweets
fusillade // A fusillade is the simultaneous and continuous firing of a group of firearms on command.
Bataclan // The Bataclan is a theatre where the attacks took place
rechercheParis // "Search paris" 
DonDuSang // "give blood"

the insteresting ones to maybe look at and with are the 
SaudiArabia and Muslims

In [53]:
dict(words)
hashdict = dict()
for key,value in words.items():
    if key.startswith('#'):
            hashdict.update({key:value})
Counter(hashdict).most_common()[:20]

[('#PorteOuverte', 252977),
 ('#Paris', 46100),
 ('#?????', 32315),
 ('#ParisAttacks', 25860),
 ('#PrayForParis', 24519),
 ('#porteouverte', 23216),
 ('#SaudiArabia', 21652),
 ('#france', 15593),
 ('#fusillade', 15471),
 ('#????????', 15236),
 ('#???????', 15234),
 ('#PorteOuverte,', 10698),
 ('#Prayers4Paris', 7618),
 ('#Bataclan', 7088),
 ('#Muslims', 6645),
 ('#PorteOuverte.', 6551),
 ('#parisattacks', 4921),
 ('#rechercheParis', 4801),
 ('#DonDuSang', 4310),
 ('#', 4286)]

#Below are the top 20 most common user mentions(@) that show up in the tweets

In [55]:
dict(words)
atdict = dict()
for key,value in words.items():
    if key.startswith('@'):
            atdict.update({key:value})
Counter(atdict).most_common()[:20]

[('@N_ALDARSOUNI:', 15143),
 ('@Dr_alrays:', 10656),
 ('@RohanSinghKalsi:', 6630),
 ('@MisterVonline', 6338),
 ('@Ant1Adam:', 5024),
 ('@GeorgeAylett:', 4895),
 ('@cznnard:', 4005),
 ('@thereaIbanksy:', 3436),
 ('@NormanDesVideos', 3394),
 ('@JaydenKieran:', 3286),
 ('@Goldengreg:', 3258),
 ('@MouridNadia:', 3097),
 ('@Conflicts:', 2996),
 ('@bongtao:', 2831),
 ('@MrsAnneTwist:', 2749),
 ('@Cassoou_:', 2632),
 ('@BFMTV', 2629),
 ('@lemondefr:', 2614),
 ('@SophiaBush:', 2300),
 ('@Banlieue_Nord:', 2295)]

In [89]:
#group based on weeks
dict(df.created_at.dt.week.value_counts())

{1: 160,
 2: 172,
 3: 90,
 4: 98,
 5: 90,
 6: 94,
 7: 71,
 8: 104,
 9: 89,
 10: 55,
 11: 41,
 12: 29,
 13: 70,
 14: 66,
 15: 47,
 16: 15,
 46: 331360,
 47: 19410,
 48: 1094,
 49: 556,
 50: 279,
 51: 171,
 52: 104,
 53: 104}

In [86]:
#Tweet Volume by month
df.created_at.dt.month.value_counts()

11    351932
12      1103
1        563
2        363
3        241
4        167
Name: created_at, dtype: int64

#What is the relationship between the volume of tweets you selected and the volume of tweets for other collections in the data set? 
Ukraine has a huge % of tweets 12 for just job_id 2604  Pray for paris is only .16%

In [94]:
try:
    conn = pymysql.connect(host='128.206.116.195', port=3306, user='tg4_ro', passwd='?3stEt7!3hUbRa-R', db='tw4_db')
    tweets_job_id = pd.read_sql_query("Select job_id, count(job_id), (count(job_id)* 100 / (Select Count(*) From tweet)) From tweet GROUP BY job_id", conn)

except mdb.Error as e:

    print ("Error %d: %s" % (e.args[0],e.args[1]))
    sys.exit(1)

finally:
    if conn:
        conn.close()

In [142]:
tweets_job_id.columns = ["job_id","count","percent"] 
ts = tweets_job_id.sort('percent', ascending=[0])
DS_list = {187:"SuperBowl",1160:"Tornado",4259:"PorteOuverte Paris 2015",
           1196:"trendingdead.com",2104:"shooting",2334:"EarthQuake",
           2348:"Packers",2539:"School Shooting",2567:"Missouri",
           2572:"Tea Party",2573:"Waiting",2574:"THG / waiting",
           2577:"World Series",2598:"Euromaidan / Ukraine",2599:"Euromaydan / Ukraine",
           2600:"evromaidan / Ukraine",2601:"evromaydan /Ukraine",2602:"kiev Ukraine",
           2603:"kyiv / Ukraine",2604:"Ukraine",2605:"Ukraine",
           2606:"Ukraine",2607:"Ukraine",2608:"Ukraine",
           2609:"Ukraine",2610:"Ukraine",2611:"Ukraine",2612:"Ukraine",
           2616:"Autism",2617:"Gamer Gate",2618:"Gamer Gate",
           2619:"Gamer Gate",4217:"Election Hashtag",4218:"tcot Election Hashtag",
           4219:"teaparty Election Hashtag",4220:"election Election Hashtag",4221:"voterfraud Election Hashtag",
           4222:"democratslaststandmovies Election Hashtag",4223:"livingwage Election Hashtag",4224:"ingress Lawley",
           4225:"Ingress Lawley",4238:"PublicTrust Cooley",4239:"NRCAgriculture Cooley",
           4240:"theNASciences Cooley",4241:"Nepal",4242:"florida Florida Hurricane",
           4243:"Florida Hurricane",4244:"Alabama Florida Hurricane",4245:"istandwithloftin Loftin",
           4246:"istandwithloftin Loftin",4247:"bowtiger Loftin",4248:"Loftin",
           4249:"LaLone",4250:"LaLone",4253:"mizzouunited Mizzou",
           4254:"gradsdo Mizzou",4255:"concernedstudent1950 Mizzou",4256:"MU4PP Mizzou",
           4257:"MIZZOU Mizzou",4258:"prayformizzou Mizzou",4260:"chicago DynamicEntropy",
           4261:"compton DynamicEntropy",4262:"orleans DynamicEntropy",4263:"NOLA DynamicEntropy",
           4264:"philadelphia DynamicEntropy",4265:"memphis DynamicEntropy",4266:"flint DynamicEntropy",
           4267:"detroit DynamicEntropy",4268:"michigan DynamicEntropy"
          }
for key,value in DS_list.items():
    print(value, ts.loc[tweets_job_id["job_id"] == key])

ingress Lawley       job_id   count  percent
1346    4224  489239   0.2265
Ingress Lawley       job_id    count  percent
1347    4225  1215811    0.563
detroit DynamicEntropy       job_id    count  percent
1387    4267  1853800   0.8584
michigan DynamicEntropy       job_id    count  percent
1388    4268  2452742   1.1357
Missouri      job_id    count  percent
440    2567  8208444   3.8008
Tornado      job_id   count  percent
432    1160  151648   0.0702
Packers      job_id    count  percent
438    2348  7732574   3.5804
Tea Party      job_id    count  percent
441    2572  3536250   1.6374
Waiting      job_id   count  percent
442    2573  526702   0.2439
THG / waiting      job_id   count  percent
443    2574  107194   0.0496
NRCAgriculture Cooley       job_id  count  percent
1361    4239    267   0.0001
theNASciences Cooley       job_id  count  percent
1362    4240   7749   0.0036
World Series      job_id    count  percent
445    2577  2525687   1.1695
florida Florida Hurricane       job_id     count  percent
1364    4242  15453903   7.1556
Florida Hurricane       job_id  count  percent
1365    4243  85980   0.0398
Alabama Florida Hurricane       job_id    count  percent
1366    4244  7003941    3.243
istandwithloftin Loftin       job_id  count  percent
1367    4245    160   0.0001
istandwithloftin Loftin Empty DataFrame
Columns: [job_id, count, percent]
Index: []
bowtiger Loftin       job_id  count  percent
1368    4247     16      0.0
Loftin       job_id  count  percent
1369    4248  20668   0.0096
LaLone       job_id    count  percent
1370    4249  2934519   1.3588
LaLone       job_id  count  percent
1371    4250  72140   0.0334
livingwage Election Hashtag       job_id   count  percent
1345    4223  252709    0.117
mizzouunited Mizzou       job_id  count  percent
1373    4253   2250    0.001
EarthQuake Empty DataFrame
Columns: [job_id, count, percent]
Index: []
concernedstudent1950 Mizzou       job_id   count  percent
1375    4255  248595   0.1151
MU4PP Mizzou       job_id  count  percent
1376    4256    451   0.0002
MIZZOU Mizzou       job_id   count  percent
1377    4257  748811   0.3467
prayformizzou Mizzou       job_id   count  percent
1378    4258  201828   0.0935
PorteOuverte Paris 2015       job_id   count  percent
1379    4259  354369   0.1641
chicago DynamicEntropy       job_id    count  percent
1380    4260  9939533   4.6023
compton DynamicEntropy       job_id    count  percent
1381    4261  1065437   0.4933
Euromaidan / Ukraine      job_id   count  percent
447    2598  152799   0.0708
Euromaydan / Ukraine      job_id  count  percent
448    2599   1384   0.0006
evromaidan / Ukraine      job_id  count  percent
449    2600  68915   0.0319
evromaydan /Ukraine      job_id  count  percent
450    2601   4973   0.0023
kiev Ukraine      job_id    count  percent
451    2602  8061370   3.7327
kyiv / Ukraine      job_id    count  percent
452    2603  1252457   0.5799
trendingdead.com      job_id    count  percent
433    1196  8993724   4.1644
Ukraine      job_id   count  percent
454    2605  833927   0.3861
Ukraine      job_id  count  percent
455    2606    590   0.0003
Ukraine      job_id  count  percent
456    2607  18414   0.0085
Ukraine      job_id  count  percent
457    2608    591   0.0003
Ukraine      job_id  count  percent
458    2609    247   0.0001
Ukraine      job_id   count  percent
459    2610  216934   0.1004
Ukraine Empty DataFrame
Columns: [job_id, count, percent]
Index: []
Ukraine      job_id  count  percent
460    2612      2      0.0
gradsdo Mizzou       job_id  count  percent
1374    4254   1561   0.0007
shooting      job_id   count  percent
436    2104  290286   0.1344
Gamer Gate      job_id  count  percent
462    2617  75671    0.035
Gamer Gate      job_id   count  percent
463    2618  136920   0.0634
SuperBowl    job_id    count  percent
0     187  3290086   1.5234
Autism      job_id    count  percent
461    2616  7318111   3.3885
PublicTrust Cooley       job_id  count  percent
1360    4238   1114   0.0005
flint DynamicEntropy       job_id    count  percent
1386    4266  2052229   0.9502
Gamer Gate      job_id     count  percent
464    2619  12157582   5.6293
orleans DynamicEntropy       job_id    count  percent
1382    4262  1916996   0.8876
Nepal       job_id    count  percent
1363    4241  6759959   3.1301
School Shooting      job_id   count  percent
439    2539  675641   0.3128
NOLA DynamicEntropy       job_id    count  percent
1383    4263  1222506   0.5661
philadelphia DynamicEntropy       job_id    count  percent
1384    4264  2709060   1.2544
memphis DynamicEntropy       job_id    count  percent
1385    4265  2636257   1.2207
Election Hashtag       job_id   count  percent
1339    4217  268528   0.1243
tcot Election Hashtag       job_id     count  percent
1340    4218  24624040  11.4017
teaparty Election Hashtag       job_id    count  percent
1341    4219  3716723    1.721
election Election Hashtag       job_id   count  percent
1342    4220  460743   0.2133
voterfraud Election Hashtag       job_id   count  percent
1343    4221  108052     0.05
democratslaststandmovies Election Hashtag       job_id  count  percent
1344    4222   8917   0.0041
Ukraine      job_id     count  percent
453    2604  26076549  12.0742

/usr/lib/python3.4/site-packages/ipykernel/__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app